aiohttp==3.8.3
aiolimiter==1.0.0
APScheduler==3.9.1.post1
argcomplete==2.0.0
astroid==2.12.13
async-timeout==4.0.2
asyncio==3.4.3
attrs==22.1.0
backports.zoneinfo==0.2.1
chardet==5.0.0
colorama==0.4.6
commitizen==2.37.0
decli==0.5.2
dill==0.3.6
discord.py==2.1.0

emoji==2.2.0
idna==3.7
isort==5.10.1
Jinja2==3.1.2
lazy-object-proxy==1.8.0
MarkupSafe==2.1.1
mccabe==0.7.0
multidict==6.0.2
packaging==21.3
platformdirs==2.5.4
prompt-toolkit==3.0.32
pylint==2.15.6
pyparsing==3.0.9
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
pyxivapi==0.5.1
PyYAML==6.0
questionary==1.10.0
six==1.16.0
termcolor==2.1.1
tomli==2.0.1
tomlkit==0.11.6
typing-extensions==4.4.0
tzdata==2022.6
tzlocal==4.2
wcwidth==0.2.5
wrapt==1.14.1
yarl==1.8.1
youtube-dl==2021.12.17
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
