aiohttp==3.8.1
aiolimiter==1.0.0
async-timeout==4.0.2
asyncio==3.4.3
attrs==21.4.0
chardet==5.0.0
discord.py==1.7.3
idna==3.3
multidict==6.0.2
pyxivapi==0.5.1
typing-extensions==4.3.0
yarl==1.7.2
youtube-dl==2021.12.17
emoji==2.0.0
APScheduler~=3.9.1